# Data Wrangling

## 1. Gather

In [1]:
# Unzip the file
import zipfile

In [3]:
with zipfile.ZipFile('armenian-online-job-postings.zip', 'r') as myzip:
    myzip.extractall()

In [7]:
# Importing pandas
import pandas as pd

# Configurações Jupyter Notebooks
pd.set_option('display.max_columns', 300)
pd.set_option('display.max_rows', 300)

In [8]:
df = pd.read_csv('online-job-postings.csv')

## 2. Assess

#### Qualidade

**Problemas comuns de qualidade de dados incluem:**

- Falta de dados, como a ausência do valor da altura para Juan.
- Dados inválidos, como uma célula com um valor impossível, como por exemplo um valor negativo de altura Kwasi. Ter "polegadas" e "centímetros" nas entradas de altura também é, tecnicamente, inválido, pois o tipo de dados para a altura torna-se uma string quando esses estão presentes. O tipo de dados para a altura deve ser inteiro ou float.
- Dados imprecisos, como Jane ter 58 polegadas de altura e não 55 polegadas.
- Dados inconsistentes, como o uso de diferentes unidades de altura (polegadas e centímetros).

Abordaremos mais dicas e truques para identificar problemas de qualidade de dados e categorizaremos eles na terceira aula do curso.

A qualidade dos dados é uma percepção ou uma avaliação da adequação dos dados para servirem seu propósito em um determinado contexto. Infelizmente, essa é uma definição um tanto evasiva, mas esclarece algo importante: não existem regras rigorosas para a qualidade dos dados. Um conjunto de dados pode ter uma qualidade bastante alta para uma aplicação, mas não para outra.


#### Arrumação

- cada variável é uma coluna.
- cada observação é uma linha.
- cada tipo de unidade observacional é uma tabela.

Comumente, nos referimos à dados desarrumados como dados “bagunçados”. Dados bagunçados apresentam problemas em sua estrutura.

Dados arrumados são um conceito relativamente novo, cunhado pelo estatístico, professor e especialista geral em dados Hadley Wickham. Farei uma citação a seu excelente artigo sobre o assunto:

"Costuma-se dizer que 80% do tempo da análise de dados é gasto com limpeza e preparação dos dados. E isso não é apenas um primeiro passo, mas deve ser repetido muitas vezes ao longo da análise, conforme novos problemas surgem ou novos dados são coletados. Para lidar com o problema, este artigo foca em um pequeno, mas importante, aspecto da limpeza de dados, que eu chamo de arrumação: estruturar os conjuntos de dados para facilitar a análise.""

### Quality Issues

- Missing Values (NaN)
- StartDate inconsistencies
- Nondescriptive column headers names (AboutC, ApplicationP, RequiredQual and also JobRequirment)
- Wrong datatypes
- A lot of ways to say the same thing on: Term, Location, Salary...
- Wrong datatypes


### Tidiness Issues

- Duplicated columns: Date <-> Year and Month
- Two observational units: Job posting data and Company Data

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
jobpost             19001 non-null object
date                19001 non-null object
Title               18973 non-null object
Company             18994 non-null object
AnnouncementCode    1208 non-null object
Term                7676 non-null object
Eligibility         4930 non-null object
Audience            640 non-null object
StartDate           9675 non-null object
Duration            10798 non-null object
Location            18969 non-null object
JobDescription      15109 non-null object
JobRequirment       16479 non-null object
RequiredQual        18517 non-null object
Salary              9622 non-null object
ApplicationP        18941 non-null object
OpeningDate         18295 non-null object
Deadline            18936 non-null object
Notes               2211 non-null object
AboutC              12470 non-null object
Attach              1559 non-null object
Year                19001 non-null int64
Month               19001 non-null int64
IT                  19001 non-null bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB

In [14]:
df.tail()

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,Location,JobDescription,JobRequirment,RequiredQual,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,"Dec 28, 2015",Senior Creative UX/ UI Designer,Technolinguistics NGO,NaN,Full-time,NaN,NaN,NaN,Long-term,"Yerevan, Armenia",A tech startup of Technolinguistics based in N...,- Work closely with product and business teams...,- At least 5 years of experience in Interface/...,Competitive,"To apply for this position, please send your\r...",29 December 2015,28 January 2016,NaN,As a company Technolinguistics has a mandate t...,NaN,2015,12,False
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,"Yerevan, Armenia",NaN,- Establish and manage Category Management dev...,"- University degree, ideally business related;...",NaN,All interested candidates are kindly requested...,30 December 2015,20 January 2016,NaN,NaN,NaN,2015,12,False
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,"Yerevan, Armenia",NaN,"- Develop, establish and maintain marketing st...","- Degree in Business, Marketing or a related f...",NaN,All interested candidates are kindly requested...,30 December 2015,20 January 2016,NaN,NaN,NaN,2015,12,False
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,"Dec 30, 2015",Head of Online Sales Department,San Lazzaro LLC,NaN,NaN,NaN,NaN,NaN,Long-term,"Yerevan, Armenia",San Lazzaro LLC is looking for a well-experien...,- Handle the project activites of the online s...,- At least 1 year of experience in online sale...,Highly competitive,Interested candidates can send their CVs to:\r...,30 December 2015,29 January 2016,NaN,San Lazzaro LLC works with several internation...,NaN,2015,12,False
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...","Dec 30, 2015",Lawyer in Legal Department,"""Kamurj"" UCO CJSC",NaN,Full-time,NaN,NaN,NaN,Indefinite,"Yerevan, Armenia","""Kamurj"" UCO CJSC is looking for a Lawyer in L...",- Properly provide internal legal services of ...,- Higher legal education; Master's degree is a...,NaN,All qualified applicants are encouraged to\r\n...,30 December 2015,20 January 2016,NaN,"""Kamurj"" UCO CJSC is providing micro and small...",NaN,2015,12,False

In [18]:
df.describe()

               Year         Month
count  19001.000000  19001.000000
mean    2010.274722      6.493869
std        3.315609      3.405503
min     2004.000000      1.000000
25%     2008.000000      3.000000
50%     2011.000000      7.000000
75%     2013.000000      9.000000
max     2015.000000     12.000000

## 3. Clean

In [19]:
df['StartDate'].value_counts()

ASAP                                                             4754
Immediately                                                       773
As soon as possible                                               543
Upon hiring                                                       261
Immediate                                                         259
Immediate employment                                              140
As soon as possible.                                               32
01 September 2012                                                  31
March 2006                                                         27
November 2006                                                      22
January 2010                                                       19
February 2014                                                      17
01 February 2005                                                   17
Immediate job opportunity                                          17
TBD                                                                16
September 2010                                                     16
February 2011                                                      16
September 2008                                                     15
March 2011                                                         15
01 July 2014                                                       14
01 February 2015                                                   14
February 2007                                                      14
January 2016                                                       13
01 March 2006                                                      13
01 September 2008                                                  13
01 September 2010                                                  13
01 April 2014                                                      12
01 October 2012                                                    12
June 2008                                                          12
Fall 2010                                                          12
01 March 2012                                                      12
September 2013                                                     12
01 October 2008                                                    12
01 April 2009                                                      11
January 2011                                                       11
01 November 2007                                                   11
01 April 2012                                                      11
February 2008                                                      11
01 September 2013                                                  11
01 September 2004                                                  11
01 February 2012                                                   11
March 2008                                                         11
January/ February                                                  10
01 May 2007                                                        10
January 2008                                                       10
September 2007                                                     10
01 March 2008                                                      10
October 2014                                                       10
01 October 2005                                                    10
October 2005                                                       10
January 2014                                                       10
01 June 2015                                                       10
Immediate employment, after passing the interview.                 10
01 September 2015                                                  10
March 2005                                                         10
April 2008                                                          9
01 August 2015                                                      9
01 June 2011                                                        9
July 2008                                                           9
November 2013                                                       9
01 April 2011                                                       9
January 2012                                                        9
January 2005                                                        9
01 May 2014                                                         9
January 2009                                                        9
01 October 2010                                                     9
June 2010                                                           9
January 2013                                                        9
01 November 2008                                                    9
01 February 2016                                                    8
February 2010                                                       8
09 February 2015                                                    8
August 2007                                                         8
01 July 2010                                                        8
15 February 2005                                                    8
January 2007                                                        8
September 2015                                                      8
November 2007                                                       8
15 April 2010                                                       8
October 2013                                                        7
01 September 2009                                                   7
01 October 2015                                                     7
01 July 2009                                                        7
ASAP preferred                                                      7
11 January 2016                                                     7
October 2007                                                        7
February 2005                                                       7
01 September 2005                                                   7
April 2013                                                          7
April 2010                                                          7
01 April 2008                                                       7
October 2008                                                        7
September 2009                                                      7
01 December 2013                                                    7
Fall/ Winter 2010                                                   7
19 May 2008                                                         7
01 April 2013                                                       7
September 2012                                                      7
May 2005                                                            7
01 December 2011                                                    7
01 October 2009                                                     7
December 2008                                                       7
01 June 2005                                                        7
To be determined                                                    7
01 March 2011                                                       7
01 August 2008                                                      7
01 February 2006                                                    7
June 2007                                                           6
October 2011                                                        6
January 2015                                                        6
04 October 2010                                                     6
15 May 2007                                                         6
01 December 2009                                                    6
01 November 2015                                                    6
01 March 2007                                                       6
01 July 2008                                                        6
01 March 2005                                                       6
01 June 2006                                                        6
June 2005                                                           6
01 July 2005                                                        6
01 February 2011                                                    6
May 2010                                                            6
18 September 2006                                                   6
01 December 2010                                                    6
15 January 2005                                                     6
15 April 2014                                                       6
July 2015                                                           6
01 March 2014                                                       6
May 2007                                                            6
15 April 2008                                                       6
Tentative time: Spring 2005                                         6
25 October 2015                                                     6
21 February 2011                                                    6
01 May 2008                                                         6
01 March 2015                                                       6
01 November 2009                                                    6
July 2011                                                           6
Fall/  Winter 2010                                                  6
01 September 2014                                                   6
Employment contract signature date                                  5
Immediate employment opportunity                                    5
September 2006                                                      5
February 2015                                                       5
December 2015                                                       5
September                                                           5
April 2006                                                          5
August 2010                                                         5
01 July 2015                                                        5
July 2009                                                           5
20 July 2005                                                        5
                                                                 ...
7 May  2012                                                         1
August 25                                                           1
May/ June 2012                                                      1
13 March 2008                                                       1
20 September 2010                                                   1
immediate                                                           1
July/ August 2012                                                   1
01 June 2007, the latest 01 July 2007                               1
11 November 2013                                                    1
01 May  2012                                                        1
Spring 2014                                                         1
23 October 2006, 13:00 p.m.                                         1
15 March 2009                                                       1
15 February 2014                                                    1
08 July 2013                                                        1
Between September 01 and 15                                         1
Mid February 2009                                                   1
April 29-30, 2008 at 16:30                                          1
09 April 2009                                                       1
Employment contract signature date.                                 1
09 August 04                                                        1
18 January 2010                                                     1
17 August 2009                                                      1
20 February  2012                                                   1
13 November 2015                                                    1
09 June 2007                                                        1
10 July 2005                                                        1
Start date to be agreed, but probably in March 2005.                1
Fall 2005                                                           1
April and June                                                      1
08 September 2011                                                   1
Late July 2015                                                      1
01 February 2007                                                    1
Immediately or as per agreement                                     1
August/ September 2010                                              1
03 December 2014                                                    1
10 November 2013                                                    1
13 May 2005, at 14.00                                               1
09 August 2004                                                      1
Mid August thru December 2008                                       1
April 2014 or ASAP                                                  1
01 June 2004                                                        1
End of November 2004                                                1
09 October 2006                                                     1
Mid-December 2007                                                   1
12 December 2004                                                    1
20 October 2010                                                     1
08 June 2011                                                        1
10 June 2005                                                        1
07 June 2010                                                        1
Mid April                                                           1
12 November 2014                                                    1
11 March 2010                                                       1
15 September 2006                                                   1
08 July  2005, 10:00                                                1
Januray 2015                                                        1
20 February  2005                                                   1
13 December 2008                                                    1
July                                                                1
25 September 2008                                                   1
Approximately 15 February 2012                                      1
First quarter of 2012                                               1
11 October 2010                                                     1
25 September  2005                                                  1
27 February 2012                                                    1
01 March 2014 (preferably)                                          1
1 May 2005                                                          1
10 April 2015                                                       1
Anticipated starting date of the assignment is March\r\n2008.       1
August 10, 2004                                                     1
in the nearest future                                               1
Immediate employment opportunity.                                   1
10 September 2008                                                   1
02 November 2013                                                    1
21 June 2007                                                        1
June                                                                1
Undetermined                                                        1
01 May 2012                                                         1
02\r\nNovember 201                                                  1
Mid June 2009                                                       1
12 November 2012 or ASAP                                            1
1st June 2004                                                       1
The start period of trainings is mid November.                      1
15 February 2012                                                    1
All qualified candidates                                            1
20.11.2007                                                          1
17 September 2005                                                   1
21 December 2004                                                    1
07 February 2005                                                    1
05 December 2005                                                    1
20 September 2006                                                   1
03 October 2006, from 16:30 till 18:00.                             1
Mid-February                                                        1
29 May 2010/ 19:00                                                  1
01 November 2014                                                    1
02 March 2009                                                       1
13 August 2007                                                      1
28 May 2015                                                         1
Mid May                                                             1
Early August 2004                                                   1
17 December 2012                                                    1
23 October 2014                                                     1
17 June 2009                                                        1
14  30 September, 2009                                              1
19 December 2013                                                    1
April, 2008                                                         1
End of April  2006                                                  1
15 August 2011                                                      1
Late September                                                      1
19 October 2009                                                     1
24 May 2010                                                         1
22 July 2013                                                        1
Immidietly                                                          1
20 January 2010                                                     1
End of April, 2013                                                  1
20 February 2013                                                    1
01 January 2006                                                     1
Not later than 01 January 2011                                      1
March 2012                                                          1
17 June 2013                                                        1
November, 2006                                                      1
As soon as the shop opens                                           1
15 March 2005                                                       1
January-February 2008                                               1
June/ July                                                          1
When-actually-employed basis.                                       1
01 October , 2006-June 2007                                         1
Imediately                                                          1
05 March 2015                                                       1
07 July 2008                                                        1
25 September 2010                                                   1
10 February 2008                                                    1
20 December  2005                                                   1
End of March, 2006                                                  1

### Define
- Select all records in the StartDate column that have "as soon as possible", "Immediately", etc. and replace the text in those sells with "ASAP"
- Select all nondescriptive and misspelled column headers (ApplicationP, AboutC, RequiredQual, JobRequirment) and replace them with full words (ApplicationProcedure, AboutCompany, RequiredQualifications and JobRequirement)

In [ ]:
df_clean = df.copy()

### Code

In [ ]:
# replace ASAP
asap_list 

df['StartDate'] = df.StartDate.replace(['Immediately', 'As soon as possible', 'Immediate', 'Immediate employment',
                                       'As soon as possible.', 'Immediate job opportunity',
                                       'Immediate employment, after passing the interview.', 
                                       'Immediate employment opportunity'], 'ASAP', inplace=True)

- Select all records in the StartDate column that have "as soon as possible", "Immediately", etc. and replace the text in those sells with "ASAP"